# Gradle
.gradle

# Build
build/

# IDEA IntelliJ
.idea
*.iml
*.iws
captures/
local.properties

# Apple
.DS_Store

# Unix
*~
*.swp

# cmake
.externalNativeBuild

# Node.JS
node_modules
testutils/reverse-proxy/requests

# Android NDK
.externalNativeBuild
